select:focus {
  outline: none; 
}

.button_off {
  border-radius: 0px;
  box-shadow:  1.5px  1.5px #808080;

}
.button_off:active {
  border-radius: 0px;
  box-shadow: 1.5px 1.5px  inset #808080;

}

.button_on {
  border-radius: 0px;
  box-shadow: 1.5px 1.5px  inset #808080;

}

